<h1>Director Details</h1>

<img src="<%= @director.image_url %>" width="240">

<p> <%= @director.name %> </p>
<p> <%= @director.bio %> </p>
<p> <%= @director.dob %> </p>

<a href="/directors">Back</a>
<a href="http://localhost:3000/directors/<%= @director.id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_director/<%= @director.id %>">Delete</a>

</body>
</html>
